.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  & > header {
    width: 100%;
    padding-left: 15px;
    display: flex;
    align-items: center;
    height: 50px;
    background: #245f9c;
    color: white;
    font-weight: bolder;
  }
  & > .dragger-container {
    margin-top: 50px;
    width: 50%;
  }
}
